body {
  font-family: Arial;
}

.animated-bg {
  background: linear-gradient(
    -45deg,
    #f3f4f6,
    #dbeafe,
    #e0f2fe,
    #fce7f3
  );

  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.float-delay-1 {
  animation-delay: 0s;
}

.float-delay-2 {
  animation-delay: 1s;
}

.float-delay-3 {
  animation-delay: 2s;
}